<html>
   <head>
      <link rel="stylesheet" type="text/css" href="styles/common.css" />
      <link rel="stylesheet" type="text/css" href="styles/instructions.css" />
      <script type="text/javascript" src="js/vendor/jquery-1.7.1.min.js"></script>
   </head>
   <body>
      <div id="wrapper">
         <div id="container">
            <div id="header">
               <span class="title">SPOONS Survey</span>
            </div>
            <p>Thank you for participating in this experiment.</p>

            <p>You will be given a set of 50 actual tweets from Twitter that deal with the movie rental company Netflix, Inc. Please read each tweet carefully before rating.</p>

            <p>Once you have read the tweet, rate the tweet using the slider below the tweet. For tweets that express strong negative emotion, rate the tweets closer to the minimum value. The closer the rating is to the left, the more negative the tweet is. For tweets that express strong positive emotions, rate the tweets closer to the maximum value at the right. The closer the rating is to the right, the more positive the tweet is. A rating in the middle of the slider is considered to be neutral.</p>

            <p>You will also be asked to classify the tweet. Please choose the category that best fits the tweet. For example, if a tweet seems to be expressing a strong positive emotion, rate the tweet in the "Happy" category.</p>

            <p>Use your discretion when evaluating tweets and decide where they should fall. Once you choose a rating and continue to the next tweet, you will not be able to change your answer. If you are unsure of how to rate a tweet, rate it in the middle of the slider or choose the category "Refuse to rate" if you cannot understand the tweet; this will indicate that the tweet does not show any strong emotion or is not understood to be negative or positive or is not understood at all.</p>

            <p><b>Note:</b> If you detect sarcasm, irony or anything else that may subtly affect the meaning or emotional rating of a tweet, please rate the tweet according to how you perceive the tweet to be read.</p>

            <a href='survey' id="continue-button" class='highlighted' >continue</a>
         </div>
      </div>
   </body>
</html>

