<html>
   <head>
      <link rel="stylesheet" type="text/css" href="styles/common.css" />
      <link rel="stylesheet" type="text/css" href="styles/instructions.css" />
      <script type="text/javascript" src="js/vendor/jquery-1.7.1.min.js"></script>
   </head>
   <body>
      <div id="wrapper">
         <div id="container">
            <div id="header">
               <span class="title">SPOONS Survey</span>
            </div>
            <div id="instructions-container" class="highlighted">
               <span id="instructions">
                  If you wish to participate in this survey please enter your calpoly username and your last name in the fields below. After filling in both fields click the continue button to recieve further instructions.
               </span>
            </div>
            <div id="next-button" class="highlighted"><a href='survey'>continue</a></div>
         </div>
      </div>
   </body>
</html>

