<html>
   <head>
      <link rel="stylesheet" type="text/css" href="styles/common.css" />
      <link rel="stylesheet" type="text/css" href="styles/login.css" />
      <script type="text/javascript" src="js/vendor/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="js/src/login.js"></script>
      <script>
         $(initialize);
      </script>
   </head>
   <body>
      <div id="wrapper">
         <div id="container">
            <div id="header">
               <span class="title">SPOONS Survey</span>
            </div>
            <div id="instructions-container" class="highlighted">
               <span id="instructions">
                  <p>If you wish to participate in this survey, please enter your calpoly username, last name, course number, and instructor's name in the fields below. After filling all fields, click the continue button to recieve further instructions.</p>
                  <p><strong>Note:</strong> You will be able to take this survey in multiple classes. Just be sure to enter the correct course number and instructor name.</p>
               </span>
            </div>
            <div id='error-container' class='error-message'></div>
            <form id="loginForm" action="login" method="post">
               <table>
                  <tr>
                     <td>
                        <label for="login">calpoly username</label>
                     </td>
                     <td>
                        <label for="lastName">last name</label>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <input type="text" id="cpLogin" name="login"/>
                     </td>
                     <td>
                        <input type="text" id="lastName" name="lastName"/>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <label for="course">course number</label>
                     </td>
                     <td>
                        <label for="instructor">instructor</label>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <input type="text" id="course" name="course"/>
                     </td>
                     <td>
                        <input type="text" id="instructor" name="instructor"/>
                     </td>
                  </tr>

               </table>

               <div id="continue-button" class="button">continue</div>
            </form>
         </div>
      </div>
   </body>
</html>

