<html>
   <head>
      <link rel="stylesheet" type="text/css" href="styles/common.css" />
      <link rel="stylesheet" type="text/css" href="styles/login.css" />
      <script type="text/javascript" src="js/vendor/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="js/src/login.js"></script>
      <script>
         $(function() {
            initialize();
         });
      </script>
   </head>
   <body>
      <div id="wrapper">
         <div id="container">
            <div id="header">
               <span class="title">SPOONS Survey</span>
            </div>
            <div id="instructions-container" class="highlighted">
               <span id="instructions">
                  If you wish to participate in this survey please enter your calpoly username and your last name in the fields below. After filling in both fields click the continue button to recieve further instructions.
               </span>
            </div>
            <form id="loginForm" action="login" method="post">
               <table>
                  <tr>
                     <td>
                        <label for="username">calpoly username</label>
                     </td>
                     <td>
                        <label for="lastName">last name</label>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <input type="text" id="cpUsername" name="username"/>
                     </td>
                     <td>
                        <input type="text" id="lastName" name="lastName"/>
                     </td>
                  </tr>
               </table>

               <div id="continue-button" class="highlighted">continue</div>
            </form>
         </div>
      </div>
   </body>
</html>

