<html>
   <head>
      <link rel="stylesheet" type="text/css" href="styles/common.css" />
      <link rel="stylesheet" type="text/css" href="styles/instructions.css" />
      <script type="text/javascript" src="js/vendor/jquery-1.7.1.min.js"></script>
   </head>
   <body>
      <div id="wrapper">
         <div id="container">
            <div id="header">
               <span class="title">SPOONS Survey</span>
            </div>
            <h1>Thank you!</h1>

            <p>We appreciate your time and participation. If you have any questions, please contact us at <a href="mailto:abra-calpoly@googlegroups.com">abra-calpoly@googlegroups.com</a>.</p>
         </div>
      </div>
   </body>
</html>

