<html>
   <head>
      <link rel="stylesheet" type="text/css" href="styles/common.css" />
      <link rel="stylesheet" type="text/css" href="styles/instructions.css" />
      <script type="text/javascript" src="js/vendor/jquery-1.7.1.min.js"></script>
   </head>
   <body>
      <div id="wrapper">
         <div id="container">
            <div id="header">
               <span class="title">SPOONS Survey</span>
            </div>
            <h1>Thank you!</h1>

            <a href='survey' id="continue-button" class='highlighted' >continue</a>
         </div>
      </div>
   </body>
</html>

